body{
  margin: 0;
  background-color: black;
  color:white;
}

.container{
  height: 1000px;

}

.navbar{
  display:flex;
  justify-content:space-between;

}

.logo{
  width: 48px;
  height: 48px;
}

.navbar-links{
  display:flex;
  list-style: none;
}

.navbar-links li{
  padding-right: 12px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0px;
  height: 600px;
  display:flex;
  justify-content: space-evenly;
}


.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-logo{
  width:500px;
  height:500px;
  padding-bottom:300px;
}


.rufus{
  display:flex;
  justify-content: center;
  align-items: center;
  width:85%;
  margin: 0 auto; /* Center .rufus horizontally */
  padding: 20px 0; /* Optional: Add some padding for spacing */
}

.rufus-portrait{
  width:250px;
  border-radius:60%
}

.rufus h3{
  text-align:center;
}

.about-us-pic{
  border-radius:12px;
}

.department{
  width: 200px;
  height: 200px
}

.why-shinra{
  text-align:center;
}

.reason{
  display:flex;
}

.reason-pic{
  width: 500px;
}

.reason-text{
  width:40%
}

.benefit{
  width 85%;
}

.benefit-row-one{
  display:flex;
}

.benefit-row-two{
  display:flex;
}
